@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	box-sizing: border-box;
}

body {
	background-color: #28223F;
	font-family: Montserrat, sans-serif;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	min-height: 100vh;
	margin: 0;
}

h3 {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
}

.card-container {
	background-color: #231E39;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 30px;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
}

.card-container .pro {
	color: #231E39;
	background-color: #FEBB0B;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 30px;
}

.card-container .round {
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
}

button.primary {
	background-color: #03BFCB;
	border: 1px solid #03BFCB;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}

button.primary.ghost {
	background-color: transparent;
	color: #02899C;
}

.skills {
	background-color: #1F1A36;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
    
}
.a:hover{
    background-color: rgb(96, 199, 255);  
} 

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
button.primary:hover{
    background-color: aqua;
}


.social-buttons {
    display: inline-block;
    /* background: rgba(256, 256, 256, 0.5); */
    /* padding: 10px; */
    /* padding-bottom: 5px; */
    border-radius: 10px;
    text-align: center;
    margin: 5px 2px;
    /* box-shadow: 0px 0px 32px -7px #00199f; */
  }
  a{
	text-decoration: none
  }
  .social-margin {
    margin-right: 15px;
  }
  
  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }
  
  .social-icon {
    margin-bottom: 10px;
    box-sizing: border-box;
    -moz-border-radius: 138px;
    -webkit-border-radius: 138px;
    border-radius: 138px;
    border: 5px solid;
    text-align: center;
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 1px;
    padding-top: 11px;
    transition: all 0.5s;
  }
  
  .social-icon:hover {
    transform: rotate(360deg)scale(1.3);
  }
  
  .facebook {
    font-size: 20px;
    padding-top: 5px;
    border-color: #3b5998;
    background-color: #3b5998;
    color: #ffffff;
  
  }
  
  .facebook:hover {
    background-color: #ffffff;
    color: #3b5998;
  }
  
  .youtube {
    font-size: 20px;
    padding-top: 5px;
    background-color: #ff0b0b;
    color: #ffffff;
    border-color: #ff0b0b;
  
  }
  
  .youtube:hover {
    background-color: hsl(0, 0%, 100%);
    color: #ff0b0b;
  }
  
  .discord {
    font-size: 20px;
    padding-top: 5px;
    background-color: #5865f2;
    color: #ffffff;
    border-color: #5865f2;
  
  }
  
  .discord:hover {
    background-color: #ffffff;
    color: #5865f2;
  }

